
*{
  box-sizing: border-box;
}


.father{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.father form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}